body {
	background-color: #f5f5f5;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* Login Form */
#single_form form {
	max-width: 500px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#single_form form .form-signin-heading,
#single_form form .checkbox {
	margin-bottom: 10px;
}

#single_form form input[type="text"],
#single_form form input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

#single_form form textarea {
	width: 480px;
}

#navbarSidebar {
	width: 220px;
	margin: 0 0;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

#navbarSidebar > li:first-child > a {
	-webkit-border-radius: 6px 6px 0 0;
}

#navbarSidebar > li:last-child > a {
	-webkit-border-radius: 0 0 6px 6px;
}

#navbarSidebar > li > a {
	display: block;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
}

div.content_block,
div.sidebar_block {
	background-color: #fff;
}

td.empty-table {
	text-align: center !important;
	padding:30px;
}

td.a-center,
th.a-center {
	text-align: center !important;
}

table td p {
	margin: 5px 0;
}

div.sidebar_block {
	margin-bottom: 20px;
}

div.sidebar_block button.sidebar_btn,
div.span3 a.sidebar_btn {
	width: 180px;
}

div.modal form {
	margin-bottom: 0;
}

table tr.not_logged {
	background-color: #f9f9f9;
}

table tr.holiday {
	background-color: #FE9A2E;
}

table tr.weekend {
	background-color: #E1F5A9;
}

table tfoot tr td {
	font-weight: bold;
}

form.form-inline div.jdpicker_w {
	display: inline-block;
}