body {
	background-color: #f6f6f6;
}

p {
	font-size: 0.9em;
}

p.sub {
	color: #999;
}

a:hover {
	text-decoration: none;
}

a:focus {
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	font-weight: 300;
}

@media (max-width: 979px) {
	.navbar-fixed-top {
		margin-bottom: 0;
	}

	.navbar-fixed-top .navbar-inner {
		padding: 5px 20px;
	}
}

@media (max-width: 767px) {
	body {
		padding-left: 0;
		padding-right: 0;
	}
}

.page-sub-nav {
	background-color: #333;
	-moz-box-shadow: inset 0 0 10px #111;
	-webkit-box-shadow: inset 0 0 10px #111;
	box-shadow: inset 0 0 10px #111;
	color: #fff;
}

.page-sub-nav ul {
	text-align: center;
	margin-bottom: 80px;
}

.page-sub-nav ul li {
	list-style-type: none;
	display: inline-block;
	margin-top: 10px;
}

.page-sub-nav ul li a {
	display: block;
	border-radius: 6px;
	padding: 15px 10px 5px;
	color: #fff;
	margin: 0 10px;
	text-decoration: none;
}

.page-sub-nav ul li a.active,
.page-sub-nav ul li a:hover {
	background-color: #555;
	text-decoration: none;
}

.knob {
	text-align: center;
}

.page {
	width: 980px;
	margin: auto;
	background-color: #FFF;
	border-radius: 6px;
	padding: 20px 0;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	margin-top: -70px;
	min-height: 200px;
}

@media (min-width: 1200px) {
	.page {
		width: 1210px;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.page {
		width: 764px;
	}
}

@media (max-width: 767px) {
	.page {
		width: 100%;
	}

	.page-container {
	    padding: 0 20px;
	}
}

footer {
	padding: 20px 0;
	color: #999;
}

footer a {
	color: #999;
	text-decoration: none;
}

footer a:hover {
	color: #333;
	text-decoration: none;
}
